<%= form_for @articulo, :html =>{:multipart => true} do |f| %>
        <br/>
  		  <div class="row">
          <div class="col-md-6">
            <%= f.label :nombre %>
            <%= f.text_field :nombre, class: 'form-control',required: true,  placeholder: 'Ingrese Titulo del articulo' %>
          </div>
        </div>
        <br />

        <div class="row">
          <div class="col-md-6">
            <%= f.label :descripcion %> 
            <%= f.text_area :descripcion, class: 'form-control',required: true, placeholder: 'Ingrese la descripcion del articulo' %>
          </div>
        </div>
        <br /> 

        <div class="row">
          <div class="col-md-4">
            <%= f.label :duracion ,'Duracion de la subasta (dias)'%>
            <%= f.select :duracion, [1,3,7,14,30] %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <%= f.label :estado,'Nuevo' %>
            <%= f.check_box 'estado' %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-4">
            <%= f.label :foto,'Foto' %>
            <%= f.file_field :foto %>
          </div>
        </div>
        <br /> 
        <%= f.submit "Guardar", class: 'btn btn-danger' %>
  	</div>
<% end %>