<CENTER>
<titulo>Bienvenidos a Bestnid</titulo>
<br/>
<br/>
<%= link_to "Articulos", articles_path() ,class: "btn btn-danger" %>
<% if current_user != nil %>
	<% if User.find(current_user.id).role == "admin"%>
		<%= link_to "Ofertas",   offers_path()   ,class: "btn btn-danger"  %>
		<%= link_to "Crear una categoría",   new_category_path() ,class: "btn btn-danger"  %>
		<%= link_to "Usuarios",  users_path()    ,class: "btn btn-danger"  %>
		<%= link_to "Transacciones",  transactions_path()    ,class: "btn btn-danger"  %>
		<%= link_to "Estadisticas",   statistics_path()   ,class: "btn btn-danger"  %>
	<%else%>
		<%= link_to "Mis Articulos",  userarticles_path ,class: "btn btn-danger" %>

		<%= link_to "Mis Ofertas",   offers_path()   ,class: "btn btn-danger"  %>	

	<%end%>
<%end%>


<br/>
<br/>

<subtitulo><%= "Productos publicados recientemente" %></subtitulo>
</CENTER>
<br/><br/><br/>
<div class="row">
          
<% @articulos.each do |a| %>  	
 		
 		<div class="col-md-3">
			<td>
			
			 
			 <%= image_tag a.foto , :width => 120, :height => 120 %> </br>
			 <h4><%= link_to a.nombre, article_path(a) %></h4></td>
			</div>
	<% end %>	
</div>