<!DOCTYPE HTML>
<title>Compra y venta online</title>
<%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>

<%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'index', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'owl.carousel', 'data-turbolinks-track' => true %>

</head>
<body onload="init()">
	<div class="row center">
		<div class="col s12">
				<h3>Sitio Web</h3>
				<h5 class="teal-text">Compra lo que necesitas, vende lo que no</h5>
		</div>
  		</div>
		<% categories = Category.primerasdosnovacias %>
		<% unless categories.length == 0%>
				<ul><br><li><h4 class="heading teal-text thin"><%= link_to Category.find(categories[0].id).nombre, category_path(Category.find(categories[0].id)) %></h4>
					<div id="owl-demo1" class="owl-carousel">
					 	<% Article.where(category_id: categories[0].id).each do |a| %>
						<div class="item">
								<%= image_tag a.foto_url.to_s, :width => 300, :height => 300, class: "circle", alt: "Owl Image"  %>
								<h5><a><%= link_to a.nombre, article_path(a) %></a></h5>
								<p><%= a.descripcion %></p>
							</div>
						<%end%>
						</div>
						
					
			</li>
			<%unless categories.length ==1%>
				<li><br><h4 class="heading teal-text thin"> <%= link_to Category.find(categories[1].id).nombre, category_path(Category.find(categories[1].id)) %></h4>
					<div id="owl-demo2" class="owl-carousel">
					 	<% Article.where(category_id: categories[1].id).each do |a| %>
						<div class="item">
								<%= image_tag a.foto_url.to_s, :width => 300, :height => 300, class: "circle", alt: "Owl Image"  %>
								<h5><a><%= link_to a.nombre, article_path(a) %></a></h5>
								<p><%= a.descripcion %></p>
							</div>
						<%end%>
						</div>
						
					
			</li>
			<%end%></ul>
			<%end%>
  			

</body>
</html>