<!DOCTYPE HTML>
<title>Compra y venta online</title>

<%= stylesheet_link_tag 'owl.carousel', media: 'all', 'data-turbolinks-track' => true %>

<%= javascript_include_tag 'jquery.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'owl.carousel', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'index', 'data-turbolinks-track' => true %>

</head>
<body onload="init()">
	<div class="row center">
		<div class="col s12">
				<h3>Sitio Web</h3>
				<h5 class="teal-text">Compra lo que necesitas, vende lo que no</h5>
		</div>
  		</div>
		<% categories = Category.all %>
			<% categories.each do |c| %>
			<% if c.eliminado == false && Article.where(category_id: c.id).length != 0%>
				<div class="Recent-wroks">
					<div class="wrap">
						<div class="Recent-wrok">
						<h5 class="heading"> <%= Category.find(c.id).nombre %></h5>
					<div id="owl-demo" class="owl-carousel">
					 	<% Article.where(category_id: c.id).each do |a| %>
						<div class="item">
							<div class="cau_left">
								<%= image_tag a.foto_url.to_s %>
							</div>
							<div class="cau_left">
								<h5><%= link_to a.nombre, article_path(a) %></a></h5>
								<p><%= a.descripcion %>
								</p>
							</div>
						</div>
						<%end%>
					</div>
					</div>
				</div>
			</div>
			<% end %>
		<% end %>
    		

  			

</body>
</html>