<title>Producto seleccionado</title>
<div class="container">
<br/>
<br/><br/> <div class="row center">
<%= image_tag @articulo.foto_url.to_s, :width => 300, :height => 300 %>
</div>
<br/>
<br/>

<%if (current_user != nil) && (@articulo.user_id != current_user.id) %>
<div class="row">
  <ul class="col s4 offset-s5 inline">

               <% voto = Vote.where(user_id: current_user.id).where(item_id: @articulo.id).first %>
               <%if voto != nil%>
                  <li>
                    <%if voto.vote == true%>
                      <i class="medium material-icons blue-text text-darken-2">thumb_up</i>
                      <i class="medium material-icons green-text text-darken-2">done</i>
     
                    <%else%>
                      <i class="medium material-icons blue-text text-darken-2">thumb_down</i>
                    <i class="medium material-icons green-text text-darken-2">done</i>
                  </li>
               <%end%>
               <%else%>
                <li>
                <%= link_to votes_path(:product_id => @articulo.id, :vote => true),:method => 'POST',class: "waves-effect waves-light btn medium right",class: "tooltipped" ,'data-position': "bottom", 'data-delay': "10", 'data-tooltip': "Haz click para valorar la publicación positivamente"  do %><i class="medium material-icons blue-text text-darken-2">thumb_up</i>
              <%end%>
             
              <%= link_to votes_path(:product_id => @articulo.id, :vote => false),:method => 'POST',class: "waves-effect waves-light btn medium right",class: "tooltipped" ,'data-position': "bottom", 'data-delay': "10", 'data-tooltip': "Haz click para valorar la publicación negativamente"  do %><i class="medium material-icons blue-text text-darken-2">thumb_down</i>
              <%end%> 
             </li>
             <%end%>
  </ul>
</div>
<%end%>

<div class="col s6">
    <ul class="collection">
      <li class="collection-item"><b>Nombre</b>: <span id="nombre"><%= @articulo.nombre %></span></li>
      <li class="collection-item"><b>Ubicacion</b>: <span id="ubicacion"><%= @articulo.ubicacion %> </span></li>
      <li class="collection-item"><b>Fecha</b>: <span id="fecha"> <%= @articulo.created_at.strftime("%m/%d/%Y") %></span></li>
      <li class="collection-item"><b>Descripcion</b>: <span id="descripcion"><%= @articulo.descripcion %></span></li>
      <li class="collection-item"><b>Precio</b>: $<span id="precio"><%= @articulo.precio %></span></li>

    </ul>
  </div>

  <%if (current_user != nil) && (@articulo.user_id != current_user.id) %>
      <%if ShoppingCart.where(user_id: current_user.id).last != nil && ShoppingCart.where(user_id: current_user.id).last.shopping_cart_items.where(item_id: @articulo.id).last != nil%> 
        <%= link_to shopping_carts_path(:product_id => @articulo.id), method: :delete, data:{ confirm: "Quitar este elemento del carrito?" }, class: "waves-effect waves-light btn medium right" do%>
        <span class="thin">Quitar del carrito</span>
        <i class="material-icons rigth">shopping_cart</i>  
    <%end%> 
  <%else%>
  <%= link_to shopping_carts_path(:product_id => @articulo.id),:method => 'POST',class: "waves-effect waves-light btn medium right" do %><span class="thin">Agregar al carrito</span>
  <i class="material-icons rigth">add_shopping_cart</i>
 <%end%>
 <%end%>
 <%end%><br/>

<div class="container">
  <h4>Comentarios <i class="material-icons red-text medium">chat</i></h4>
    <table class="striped bordered">
        <thead>
          <tr>
              <th></th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
        <tr>
          <% @comentario=Comment.where(article_id: @articulo.id)%>
          <% @comentario.each do |c| %>    
              
            <td><i class="material-icons small white-text circle teal">person</i>
                  <%= User.find(c.user_id).nombre%></td>
                  <td><%= c.contenido %></td>
                 <td>   
                    <ul class="right hide-on-med-and-down">
                    <li>
                        <%if ( (current_user!=nil)&&((@articulo.user_id == current_user.id) || (current_user.role =="admin"))) %>
                              <%= link_to '<i class="red-text material-icons">delete</i>'.html_safe, c, method: :delete,  data: {confirm: "Estás Seguro?"}%>
                      <%end%>
              <a href="#!" class="tooltipped" data-position="bottom" data-delay="10" data-tooltip="Haz click para reportar este comentario como ofensivo"><i class="material-icons red-text">report</i></a></li>
            </ul>
                  </td>
                    
                  </tr> 
              <%end%>                
</table>  

<%if current_user!= nil && (can? :new , Comment) %>
<% @comentario = Comment.new %>
<%= form_for @comentario do |f| %>
  <div class="row">
  <div class="col-md-7">
      <%= f.text_area :contenido, class: 'form-control',required: true, placeholder: 'Ingrese un comentario' %></div>
     <div class="col-md-1">
     <%= f.hidden_field :article_id, :value => @articulo.id %> 
    <%= f.submit 'Enviar', class: 'btn btn-danger'%></div>
     </div>
    <% end %>       
<% end %>

<br/>
<% if current_user == nil %>
   <font face="verdana">Para comentar debe iniciar sesión <%= link_to "aquí",  new_user_session_path()%>
</font>

<%end %>  
</div>