<br/>

<CENTER><font face ='verdana' size='14'><%= @articulo.nombre %></font><hr width="700" size="200"/>

<br/><br/>
<%= image_tag @articulo.foto, :width => 600, :height => 400 %>
<br/>
<br/>
<font face ='verdana' size='6'>Descripcion</font>
<br/><br/>
<p><%= @articulo.descripcion %></p>
<br/>

<% if (current_user != nil) && (can? :edit, Article) && (@articulo.user_id == current_user.id) %>
  <%= link_to "Edit", edit_article_path(@articulo),class: "btn btn-danger"  %>
<% end %>

<%if (current_user != nil) &&(can? :new , Offer) && (@articulo.user_id != current_user.id)%> 
<%= link_to "Ofertar", new_offer_path(@articulo.id) ,class: "btn btn-danger" %>
<%end%>
		<br/><br/><br/><br/>


<table class="table">
    <tr>
        <th> COMENTARIOS </th>
        <th> ACCIONES </th>
    </tr> 
              
              <% @comentario=Comment.where(article_id: @articulo.id)%>
              <% @comentario.each do |c| %>    
                  <tr>
                  <td>
                  <h4><%= c.contenido %><h4>

                    <table>
                  <% @respuesta=Answer.where(comment_id: c.id)%>
                  <% @respuesta.each do |r| %>  
                      <tr>
                      <%@usuarioname=User.find(r.user_id)%>
                      
                      <td>
                          <div class="alert alert-info" role="alert"><STRONG>Subastador</STRONG>: <%=r.contenido%>   
                              <%if current_user!=nil && ((r.user_id==current_user.id || current_user.role =="admin")) %>
                                  <%=link_to "Eliminar",r, method: :delete,  data: {confirm: "Estás Seguro?"},class: "btn btn-danger btn-xs"%>
                              <%end%>
                          </div>
                      </td>
                      </tr>
                  <%end%>         
                  </table>
                  <td>
                      <%if ( (current_user!=nil)&&((@articulo.user_id == current_user.id) || (current_user.role =="admin"))) %>
                              <%= link_to "Eliminar", c, method: :delete,  data: {confirm: "Estás Seguro?"},class: 'btn btn-danger btn-sm' %>
                      <%end%>
                      <%if current_user!=nil && (c.user_id==current_user.id || @articulo.user_id == current_user.id) %>
                              <%= link_to "Responder", new_answer_path(c.id), class: "btn btn-primary btn-sm" %>
                      <%end%>        
                  </td>
                




                  </tr> 
              <%end%>                
</table>  

<%if can? :new , Comment %>
<% @comentario = Comment.new %>
<%= form_for @comentario do |f| %>
	<div class="row">
	<div class="col-md-7">
            <%= f.text_area :contenido, class: 'form-control',required: true, placeholder: 'Ingrese un comentario' %></div>
     <div class="col-md-1">
     <%= f.hidden_field :article_id, :value => @articulo.id %> 
    <%= f.submit 'Enviar', class: 'btn btn-danger'%></div>
     </div>
    <% end %>       
<% end %>

<br/>
<% if current_user == nil %>
   Para comentar u ofertar debe iniciar sesión <%= link_to "aquí",  new_user_session_path()%>
<%end %>  
</CENTER>