<br/>
<% @ide=@articulo.id %>
<CENTER><h1><%= @articulo.nombre %></h1>
<h4>-------------------------------------------------------------</h4>
<br/>
<%= image_tag @articulo.foto, :width => 600, :height => 400 %>
<br/>
<br/>
<h2>Descripcion</h2>
<p><%= @articulo.descripcion %></p>
<br/>


<%= link_to "Comentar", () ,class: "btn btn-danger" %>

<%= link_to "Ofertar", new_offer_path(@ide) ,class: "btn btn-danger" %>
</CENTER>
<br/>
<br/>