
<div class="container">
<br/>
<br/><br/> <div class="row center">
<%= image_tag @articulo.foto_url.to_s %>
</div>
<br/>
<br/>

<% if current_user != nil %>
<div class="row">
  <ul class="col s4 offset-s4 inline">
              <li><a href="#!" class="tooltipped" data-position="bottom" data-delay="10" data-tooltip="Haz click para valorar la publicación positivamente"><i class="medium material-icons blue-text text-darken-2">thumb_up</i></a>
              <a href="#!" class="tooltipped" data-position="bottom" data-delay="10" data-tooltip="Haz click para valorar la publicación negativamente"><i class="material-icons blue-text text-darken-2 medium">thumb_down</i></a>
              
              <a href="#!" class="tooltipped" data-position="bottom" data-delay="10" data-tooltip="Haz click para reportar este contenido como indebido"><i class="medium material-icons yellow-text text-darken-2">warning</i></a></li>
    </ul>
</div><%end%>

<div class="col s6">
    <ul class="collection">
      <li class="collection-item">Nombre: <span id="nombre"><%= @articulo.nombre %></span></li>
      <li class="collection-item">Ubicacion: <span id="ubicacion"><%= @articulo.ubicacion %> </span></li>
      <li class="collection-item">Fecha: <span id="fecha"> <%= @articulo.created_at.strftime("%m/%d/%Y") %></span></li>
      <li class="collection-item">Descripcion: <span id="descripcion"><%= @articulo.descripcion %></span></li>
      <li class="collection-item">Precio: $<span id="precio"><%= @articulo.precio %></span></li>

    </ul>
  </div>
  <%if (current_user != nil) && (@articulo.user_id != current_user.id) %>
  <%= link_to shopping_carts_path(:product_id => @articulo.id),:method => 'POST',class: "waves-effect waves-light btn medium right" do %><span class="thin">Agregar al carrito</span>
  <i class="material-icons rigth">add_shopping_cart</i></a>
 <%end%>
 <%end%></div>
<br/>

<div class="container">
  <h4>Comentarios</h4>
    <table class="striped bordered">
        <thead>
          <tr>
              <th></th>
              <th></th>
              <th></th>
          </tr>
        </thead>

        <tbody>
        <tr>
          <% @comentario=Comment.where(article_id: @articulo.id)%>
          <% @comentario.each do |c| %>    
              
            <td><i class="material-icons small white-text circle teal">person</i>
                  <%= User.find(c.user_id).nombre%></td>
                  <td><%= c.contenido %></td>
                 <td>   
                    <ul class="right hide-on-med-and-down">
                    <li>
                        <%if ( (current_user!=nil)&&((@articulo.user_id == current_user.id) || (current_user.role =="admin"))) %>
                              <%= link_to '<i class="red-text material-icons">delete</i>'.html_safe, c, method: :delete,  data: {confirm: "Estás Seguro?"}%>
                      <%end%>
              <a href="#!" class="tooltipped" data-position="bottom" data-delay="10" data-tooltip="Haz click para reportar este comentario como ofensivo"><i class="material-icons red-text">report</i></a></li>
            </ul>
                  </td>
                    
                  </tr> 
              <%end%>                
</table>  

<%if current_user!= nil && (can? :new , Comment) %>
<% @comentario = Comment.new %>
<%= form_for @comentario do |f| %>
  <div class="row">
  <div class="col-md-7">
      <%= f.text_area :contenido, class: 'form-control',required: true, placeholder: 'Ingrese un comentario' %></div>
     <div class="col-md-1">
     <%= f.hidden_field :article_id, :value => @articulo.id %> 
    <%= f.submit 'Enviar', class: 'btn btn-danger'%></div>
     </div>
    <% end %>       
<% end %>

<br/>
<% if current_user == nil %>
   <font face="verdana">Para comentar debe iniciar sesión <%= link_to "aquí",  new_user_session_path()%>
</font>

<%end %>  
</div>