<br/>



<div class="row">
    <div class="col-md-6">
       <CENTER><h3> Informacion del subastador <%= @subastador.nick  %></h3>
         
        NOMBRE: <%= @subastador.nombre%> <br/>
        EMAIL:  <%= @subastador.email %> <br/>
        TELEFONO: <%= @subastador.telefono%><br/>
       
       </CENTER>
    </div>
    
    <div class="col-md-6">
       <CENTER><h3> Informacion del ganador <%= @ganador.nick   %><br/></h3>
		 
         NOMBRE: <%= @ganador.nombre %><br/>
         EMAIL: <%= @ganador.email  %><br/>
         TELEFONO:<%= @ganador.telefono%><br/>
         <%if (@articulo.winner_id == current_user.id) %>
             <%= link_to "Pagar", new_transaction_path(@oferta) ,class: "btn btn-danger" %>
         <%end%>    
       </CENTER>
    </div>   

</div> 
