<!--<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
-->
<br/>
<div class="container"> 
		<div class="col-md-8">
<CENTER><h1><strong><%= @usuario.nombre %><%= @usuario.apellido %></strong></h1>
<h4>-------------------------------------------------------------</h4>
<br/>
</CENTER>
</div>
<div class="col-md-4">
<%= image_tag @usuario.foto, :width => 150, :height => 150 %>
<br/>
<br/>
</div>


<h3><strong>Nombre y apellido:</strong> <%=@usuario.nombre%> <%=@usuario.apellido%></h3>
</br>
<h3>Nombre de usuario: <%=@usuario.nick%></h3>
</br>
<h3>Correo: <%=@usuario.correo%></h3>
</br>
<h3>Teléfono: <%=@usuario.telefono%></h3>
