

<br/><br/><br/><br/><br/>
<%= form_for @respuesta do |f| %>
	<div class="row">
	<div class="col-md-7">
            <%= f.text_area :contenido, class: 'form-control',required: true, placeholder: 'Ingrese su respuesta' %></div>
     		<%= f.hidden_field :comment_id, :value => params[:format]%> 
     		<%= f.hidden_field :user_id, :value => current_user.id%>
    		<%= f.submit 'Enviar', class: 'btn btn-primary'%></div>
     </div>
    <% end %>      