<%= form_for @oferta do |f| %>
</br>
<div class="row">
          <div class="col-md-3">
			<%= f.label :precio %> </br>
		    <%= f.number_field :precio, class: "form-control", required: true, placeholder: "¿Cuánto está dispuesto a pagar?" %>
          </div>
</div>
<div class="row">
          <div class="col-md-6">
    		</br>
 			<%= f.label :Oferta %> </br>
 			<%= f.text_area :contenido, class: "form-control", required: true, placeholder: "¿Por qué desea este producto?" %>
          </div>
</div>
</br>
<tr>
	<th><%= f.submit 'Enviar', class: 'btn btn-primary'%></th>
</tr>
<% end %>