<% if (current_user.role == "admin") %>
     <titulo> Listado de ofertas </titulo><br/><br/>
<%else%>
     <titulo> Listado de tus ofertas </titulo><br/><br/>
<%end%>
<table class="table">

	<tr>
		<th><thtabla>Producto</thtabla></th>
		<th><thtabla>Oferta</thtabla></th>
		<th><thtabla>Precio</thtabla></th>
		<th><thtabla>Estado</thtabla></th>
		<th><thtabla>Accion</thtabla></th>
		
		<% if (current_user.role == "admin") %>
			   <th> <thtabla> Ganancia</thtabla></th>
			<%end%>
	</tr>


<% if @oferta.size == 0 %>
		<tr class="success"> <td colspan="3"> Todavía no realizaste ninguna oferta </td> </tr>
 <%else%>
	<% @oferta.each do |o| %>
	   <% if o.estado == "perdedora" %>
          <tr class="danger">    
	   <% elsif o.estado == "ganadora" %> 
		  <tr class="success">
        <% end %>
			<td> <%= link_to Article.find(o.article_id).nombre, article_path(o.article_id) %></td>
			<td> <%= truncate(o.contenido, length: 30, separator: ' ') %> </td>
			<td> <%= number_to_currency o.precio %> </td>
			<td> <%= o.estado %> </td>
			<td> <%= link_to 'Ver oferta', o %></td>
			<% if o.estado == "ganadora" && o.user_id == current_user.id %>	
			    <td> <%= link_to 'Iniciar transaccion', article_winner_path(o)%> </td>   
			<%end%>
			<% if (current_user.role == "admin") && (o.estado == "pagada") %>
			    <td> <%= o.precio * 0.3 %></td>
			<%end%>
		</tr>
	<% end %>
<% end %>

</table>