<h1> Listado de tus ofertas </h1>

<table class="table">

	<tr>
		<th> Producto</th>
		<th> Oferta </th>
		<th> Precio </th>
		<th> Estado </th>
	</tr>

	<%#oferta = Oferta.where(:usuario_id :current_user) %>

	<% oferta = Offer.all%>
	<% oferta.each do |o| %>
		<tr>
			<td> <%= link_to Article.find(o.article_id).nombre, article_path(o.article_id) %></td>
			<td> <%= truncate(o.contenido, length: 30, separator: ' ') %> </td>
			<td> <%= number_to_currency o.precio %> </td>
			<td> <%= o.estado %> </td>
			<td> <%= link_to 'Ver oferta', o %>
		</tr>
	<% end %>

	<% if oferta.size == 0 %>
		<tr class="success"> <td colspan="3"> Todavía no realizaste ninguna oferta </td> </tr>
	<% end %>

</table>