<titulo> Tu oferta es la siguiente </titulo>
<table class="table">

	<tr>
		<th><thtabla>Oferta</thtabla></th>
		<th><thtabla>Dinero ofrecido</thtabla></th>
		<th><thtabla>Artículo</thtabla></th>
		<th><thtabla>Estado</thtabla></th>
		<th><thtabla>Acciones</thtabla></th>
		<th><thtabla>Tiempo</thtabla></th>
	</tr>
		<% if @oferta.estado == "perdedora" %>
          <tr class="danger">    
	   	<% elsif @oferta.estado == "ganadora" %> 
		  <tr class="success">
        <% end %>
			
			<td><%= word_wrap(@oferta.contenido, line_width: 10) %></td>
			<td> <%= number_to_currency @oferta.precio %> </td>
			<td><%= link_to @oferta.article.nombre ,@oferta.article%> </td>
			<td> <%= @oferta.estado %> </td>
			<td>
				<%if !@articulo.estado && @oferta.user_id==current_user.id%>
					<%= link_to "Editar", edit_offer_path(@oferta), class: 'btn btn-info btn-sm' %>
					<%= link_to "Eliminar", @oferta, method: :delete,  data: {confirm: "Estás seguro?"},class: 'btn btn-danger btn-sm' %>
				<%end%>
			</td>
			<td> <%= time_ago_in_words @oferta.created_at %> ago </td> 

		</tr></div>
		
</table>