<% @categorias = Category.all%>
<div class="container">
	<% if @categorias.size != 0 %>
  	<ul class="collection with-header">
  		<li class="collection-header"><h4 class="teal-text thin">Categorías</h4></li>
		<% @categorias.each do |c| %>
			<% if c.eliminado == false %>
			<li class="collection-item"><div><%= link_to Category.find(c.id).nombre, c %>
				<div class="secondary-content rigth"><%= link_to "Editar", edit_category_path(c), class: 'btn'%>
				<%= link_to "Eliminar", c, method: :delete, data: {confirm: "Estás seguro? Si eliminas una categoria se eliminarán los articulos asociados"},class: 'btn'%></div></div><br></li>
		
			<%else%>
			<li class="collection-item red"><div><%= link_to Category.find(c.id).nombre, c, class: 'white-text' %>
				<div class="right"><%= link_to "Restaurar", recover_category_path(c), class: 'btn'%></div></div><br></li>
				<%end%>
			<%end%>
			</ul>
	<%else%>
	<div class="alert alert-success" role="alert"><tr class="success"> <td colspan="3">No hay ninguna categoría creada </td> </tr></div>
	
	<%end%>
<%= link_to "Crear categoría", new_category_path(), class: 'btn'%>
</div>
