<h2> Categoría : <%= @categoria.nombre%> </h2>
<table class="table">	
	<tr>
		 <th> Nombre </th>
		 <th> Descripción </th>	
		 <th> Duracion </th>
		 <th> Foto </th>
	</tr>   

<% Article.where(category_id: @categoria.id).each do |a| %>
	<tr>	
		<td> <%= link_to a.nombre, article_path(a) %> </td>	
        <td> <%= truncate(a.descripcion, length: 30, separator: ' ') %> </td>
		<% d = Time.now  %>
		<td> <%=time_ago_in_words a.created_at %></td>
		<td> <%= image_tag a.foto , :width => 70, :height => 70 %> </td>
	</tr>
<% end %>
</table>