<% o=Offer.find(params[:format]) %>


<%= form_for @payment do |f| %>

<div class="control-group">
  <%= f.label :cant, "Monto a pagar"%>
  <div class="controls">
    <%=o.precio %>
    <%= f.hidden_field :cant , :value => o.precio%>

  </div>
</div>
<% comi= o.precio * 0.3 %>
<% recibido= o.precio * 0.7 %>
<%= f.hidden_field :cantrec, :value => recibido%>
<%= f.hidden_field :comision, :value => comi%>

<div class="control-group">
  <%= f.label :numcard,'Numero de tarjeta *', :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :numcard, :class => 'text_field', :min =>0 , :length =>16 , required: true%>
  </div>
</div>
<div class="field">
      <%= f.label "Nombre *" %><br />
      <%= f.text_field :nombre,required: true %>
    
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= f.label "Apellido *" %><br />
      <%= f.text_field :apellido, required: true%>
    </div>
  </div>
<div class="field">
      <%= f.label "DNI *" %><br />
      <%= f.text_field :dni ,required: true %>
    
  </div>

<div class="control-group">
  <%= f.label :cardCVV,'Codigo de seguridad *', :class => 'control-label' %>
  <div class="controls">
    <%= f.number_field :cardCVV, :class => 'text_field', :min => 0, :length => 3,required: true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryMonth,'Mes de vencimiento *', :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryMonth, options_for_select(cc_months)) %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cardExpiryYear,'Año de vencimiento *', :class => 'control-label' %>
  <div class="controls">
    <%= f.select(:cardExpiryYear, options_for_select(cc_years)) %>
  </div>
</div>
<%= f.hidden_field :user_id, :value => current_user.id%>
<%= f.hidden_field :offer_id, :value => o.id%>
<br/>

<div class="form-actions">
  <%= f.submit 'Realizar pago', :class => 'btn btn-primary' %>
</div>
<%end%>