<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<%= render 'layouts/header' %>
	
		<div class="col-md-10">    
			<% if flash[:notice] %>
				<div class="green-text center" role='alert'>
					<h1><%= flash[:notice] %></h1>
				</div>
				<%end%>
			<% if flash[:alert] %>
			    <div class="red-text center"><h1><%= flash[:alert] %></h1>
			    </div>	
			<%end%>
		<%= yield %>
		</div>
	</div>


</body>
</html>