<!DOCTYPE html>
<html>
<head>
  <title>BestnidOficial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<%= render 'layouts/header' %>
	<div class="container"> 
		<div class="col-md-2">
			<br/>
			<br/>
			<br/>
			<br/>

			<h3> Categorias</h3>
			<% categories = Category.all %>
       		<% categories.each do |c| %>   
        	<tr>    
              <td> c.nombre</td>
              <% end %> 
			</tr>   
		    <br/>
    		
    	</div>
		<div class="col-md-10">    
			<% if flash[:notice] %>
	<div class="alert alert-success" role='alert'>
		<%= flash[:notice] %>
	</div>
<%end%>
<%= yield %>
		</div>
	</div>


</body>
</html>