<!DOCTYPE html>
<html>
<head>
  <title>BestnidOficial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

	<%= render 'layouts/header' %>
	
	<div class="container"> 
		<div class="col-md-2">
			<br/>
			<br/>
			<br/>
			<br/>
			<tr>	
			<% if current_user != nil && User.find(current_user.id).role == "admin"  %>	
			<td><h3><%= link_to "Categorias", categories_path %></h3></td>
			<%else %>
			<td><h3>Categorias</h3></td>
			
				 
			<%end%>
		    </tr>
			<% categories = Category.all %>
			<% categories.each do |c| %>
			<tr>
			<td> <% if c.eliminado == false %>
				 <li><%= link_to Category.find(c.id).nombre, c %></td> </tr>
				 <% end %>
			<% end %>
    		
    		
    	</div>



		<div class="col-md-10">    
			<% if flash[:notice] %>
				<div class="alert alert-success" role='alert'>
					<%= flash[:notice] %>
				</div>
				<%end%>
			<% if flash[:alert] %>
			    <div class="alert alert-error"><%= flash[:alert] %>
			    </div>	
			<%end%>
		<%= yield %>
		</div>
	</div>


</body>
</html>